examples/hello
examples/sankey
examples/budget
examples/simple
examples/bar-chart
examples/horizontal-bar-chart
examples/pie
examples/donut
examples/equation-sine
examples/equation-cosine
examples/scatter
examples/line
examples/bubble

*.html
*.tar.gz
*.tar.br

.DS_Store

generated-docs/
